*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}
button {
    background: #00796b;
    color: #ffffff;
    cursor: pointer;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    align-items: center;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #00796b;
    color: #fff;
    font-size: 16;
    cursor: pointer;
    border-radius: 40px;
}